@{
    ViewBag.Title = "Help / Contact";
    ViewBag.Message = "Contact Us";
    ViewBag.Breadcrumb = "Help";
}
<style>
    address, h2 {
        color: white;
    }
</style>
<h2>@ViewBag.Message</h2>

<address>
    1600 Franklin Street<br />
    Oakland, CA 94612<br />
    <abbr title="Phone">P:</abbr>
    800-735-2929
</address>

<address>
    <strong>Customer Relations:</strong> <a href="mailto:your.email@your.company.dns">your.email@your.company.dns</a>
</address>
