@using ACTransit.CusRel.Public.API.Models
<div class="jumbotron">
    <img src="~/Content/logo-greybg.png"/>
    <h1>AC Transit CusRel API</h1>
    <p class="lead">Welcome to @HttpContext.Current.Request.Url.Host &#8208; AC Transit's open web API framework for CusRel application.</p>
</div>
<div class="row">
    <a href="~/Help">Web API</a>
</div>
<div class="row">
	<a href="/cusel">CusRel website</a>
</div>
<div class="row">
	<a href="http://stevesouders.com/mobileperf/mobileperfbkm.php">Mobile Perf</a>
</div>
	
 