@model ACTransit.Contracts.Data.CusRel.LookupContract.Result.ComplaintCodesResult
@{
    ViewBag.Title = "GetComplaintCodes";
}

<h2>GetComplaintCodes</h2>

<h3>Count: @Model.ComplaintCodes.Count </h3>

